
@font-face { 
    font-family: Press Start; 
    src: url('../fonts/press_start/prstart.ttf'); 
}


body{
    background-color: rgb(30,30,30);
    color: rgb(255,244,0);
    font-family: Press Start, sans-serif;
    line-height:25px;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

#gameStage{
    aspect-ratio: 950 / 640;
    height: min(100vh, 67.3684vw);
    inset: 0;
    margin: auto;
    position: absolute;
    width: min(100vw, 148.4375vh);
    z-index: 0;
}

#canvas,
#hudCanvas{
    display: block;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    inset: 0;
    position: absolute;
    width: 100%;
    border: 1px solid yellow;
}

#canvas{
    z-index: 0;
}

#hudCanvas{
    pointer-events: none;
    z-index: 1;
}
